<%- include("partials/header.ejs") %>
<div class="container py-5" >
<form class="row g-3" action="/ajouterClients" method="POST" novalidate>
  <div class="col-md-6">
    <label for="first-name" class="form-label">Name</label>
    <input type="text" class="form-control" id="name" name="name" required>
  </div>

  <div class="col-md-6">
    <label for="phone" class="form-label">Phone</label>
    <div class="input-group has-validation">
      <input type="text" class="form-control <%= is_invalid %>" id="phone" name="phone" id="phone" required>
      
      <div class="invalid-feedback">
        Please enter a valid phone number
      </div>
    </div>
  </div>
  <% if (locals.city) { %>
  <div class="col-md-3">
    <label for="validationDefault04" class="form-label">City</label>
    <select class="form-select" id="validationDefault04" name="city" required>
      <option selected disabled value="">Choose...</option>
      <% city.cities.forEach(element => { %>
        <option> <%=element.name%></option>
        <% }); %>
    </select>
  </div>
  <% } %>
  <div class="col-md-6">
    <label for="validationDefault03" class="form-label">Adresse</label>
    <input type="text" class="form-control" id="validationDefault03" name="adress" required>
  </div>
  <div class="col-md-3">
    <label for="validationDefault04" class="form-label">Platforme</label>
    <select class="form-select" id="validationDefault04" name="platforme" required>
      <option selected disabled value="">Choose...</option>
      <option>TikTok</option>
      <option>Instagram</option>
      <option>Facebook</option>
      <option>Facebook Ads</option>
    </select>
  </div>  
<div class="col-12">
    <button class="btn btn-success" type="submit">Ajouter le client</button>
  </div>
</form>
</div>

<script>
    const form = document.querySelector("form");

form.addEventListener(
  "submit",
  (e) => {
    if (!form.checkValidity()) {
      e.preventDefault();
    }
    form.classList.add("was-validated");
    console.log("submit");
  },
  false
);
</script>




<%- include("partials/footer.ejs") %>